/node_modules
/public/hot
/public/storage
/public/img/posters
/public/img/*.psd
/public/img/banners/*.psd
/public/img/logos/*.psd
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
