/node_modules
/public/css/app.css
/public/css/bootstrap_pi.css
/public/hot
/public/storage
/public/img/posters
/public/img/*.psd
/public/img/banners/*.psd
/public/img/jumbotron/*
/public/img/logos/*.psd
/public/js/*
/public/mix-manifest.json
/public/videos/*
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
**/Thumbs.db
