/*
 *  Util classes
 */
.top-most {
	z-index: 999 !important;
}

.hidden {
	opacity: 0 !important;
}

.overflow-hidden {
  overflow: hidden;
}

/*
 *  General
 */
body {
    margin-bottom: 70px;
}

/*
 *  Navbar
 */
body {
	margin-top: 57px; /* Make sure body content clears the navbar */
}

#nav-logo {
	height: 40px;
}

#genres-menu-container {
    z-index: 1031 !important;
}

#search-menu > img {
    opacity: 0.5;
    height: 40px;
}

#search-menu:hover > img, #search-menu:focus > img {
    opacity: 1;
}
/*
#collections-menu-container > a > .dropdown-item:hover,
#collections-menu-container > a > .dropdown-item:focus {
    background-color: transparent;
}
*/
#user-options-menu > img {
	opacity: 0.5;
	width: 40px;
	height: 40px;
}

#user-options-menu:hover > img, #user-options-menu:focus > img {
	opacity: 1.0;
}

.drop-check-p-fix {
	padding: 0.25rem 1.5rem !important;
}

.menu-logo {
	min-width: 300px !important;
	min-height: 75px !important;
	cursor: pointer;
}

/*
 * Fluid Modal
 */
.fluid-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1030;
  background-color: rgba(0,0,0,0.8);
}

.fluid-modal-content {
  position: relative;
}

.fluid-modal-poster-container {
  position: relative;
  clear: both;
}

.fluid-modal-inner-poster-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
}

.fluid-modal-hr {
  margin: 0;
  border-top: 2px solid #282828;
}

.fluid-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.fluid-modal-title {
  font-size: 52px;
  color: white;
}

.fluid-modal-close {
  font-size: 36px;
}

.fluid-modal .poster-container {
  margin: 1rem !important;
}

/*
 *  Search Modal
 */
#search-modal-controls {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.25rem 1.2rem 1rem 1rem;
  z-index: 1031;
  background-color: black;
}

#search-modal-content {
  margin-top: 160px;
}

#search-input {
  display: block;
  width: 100%;
  height: 60px;
  border: 0;
  border-bottom: 2px solid #282828;
  background: 0 0;
  font-size: 36px;
  outline: none;
  color: #888;
}

#search-modal-count {
    font-size: 20px;
}

/*
 *  Jumbo Carousel
 */
.jumbo-carousel-img {
	width: 100%;
	/* height: auto; */
	max-height: 712px;
}

.jumbo-carousel-overlay {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.jumbo-carousel-info {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 35px;
}

.jumbo-carousel-button {
	white-space: normal;
	font-size: 20px;
}

/*
 *  Categories (New horror, new sci-fi, etc.)
 */

.banner {
	cursor: pointer;
    transform: scale(0.95);
	transition: transform ease-in 0.2s;
}

.banner:hover {
	transform: scale(1);
}

/*
 *  Poster rows and poster containers
 */

.poster-row {
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.poster-row .slider {
  transform: matrix(1, 0, 0, 1, 0, 0);  /* Equivalent to translate3d(0px, 0px, 0px) */
  transition: transform 0.5s ease-in-out;
}

.poster-container {
	position: relative;
	width: 230px;
	height: 345px;
	margin: 0 0.075rem;
	transition: 0.2s transform ease-in;
}

.poster-container:hover {
	transform: scale(1.09);
}

.play {
	font-family: Arial;
	border: 6px solid white;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100px;
	height: 100px;
	font-size: 65px;
	line-height: 87px;
	cursor: pointer;
	color: white;
	padding-left: 12px;
}

.play:hover {
	color: red !important;
	border: 6px solid red;
	text-decoration: none;
}

.play:active {
	color: #0F3 !important;
	border: 6px solid #0F3;
}

.poster-overlay {
	background-color: rgba(0,0,0,0.5);
	color: white;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: 0.2s opacity ease-in;
  text-align: center;
}

.poster-overlay:hover {
	opacity: 1;
}

.shift-left {
	transform: translate3d(-10px, 0, 0);
}

.shift-right {
	transform: translate3d(10px, 0, 0);
}

.left-arrow, .right-arrow {
	font-size: 128px;
	position: absolute;
	z-index: 3;
	width: 100px;
	height: 345px;
	cursor: pointer;
	line-height: 314px; /* 345 x 1.09 = ~376, 376 - 345 = 31, 345 - 31 = 314 */
	transition: opacity 0.3s ease-in 0.1s;
	transform: scale(1.09);
	user-select: none;
}

.left-arrow {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
	padding-left: 7px;
}

.right-arrow {
	background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
	right: 0;
	text-align: right;
	padding-right: 7px;
}

.left-arrow:hover, .right-arrow:hover {
	color: white;
}

.left-arrow:hover {
	background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.right-arrow:hover {
	background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/*
 *  Movie/Show modals
 */
.modal-poster {
  width: 230px;
  height: 345px;
	box-shadow: 0 0 30px black;
}

#movie-modal-info {
	font-size: 17px;
}

.seasons-dropdown {
	position: absolute;
	top: 0px;
	left: 0px;
	transform: translate3d(111px, 0px, 0px);
	will-change: transform;
}

#show-modal-episodes {
	max-height: 250px;
	overflow: auto;
  border: 7px solid #282828;
}

/*
 *  These 2 rules keep the "watch now" and "add to watchlist"
 *  buttons centered on mobile view.
 */
.modal-footer > :not(:last-child) {
	margin-right: 0;
}

.modal-footer > :not(:first-child) {
	margin-left: 0;
}

/*
 * Video Player
 */
/* This container helps keep vid properly centered in fullscreen on PS4 */
video {
	outline: none;
}

 #movie-container {
	display: block;
	width: 100%;
	text-align: center;
}

#video-player {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.video-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 180px;
	height: 180px;
	border: 12px solid #ddd;
    border-top: 12px solid transparent;
	border-right: 12px solid transparent;
    border-radius: 50%;
	transform: translate(-50%, -50%);
	animation: spin 0.6s ease-out infinite;
}

@keyframes spin {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);  /* Order of these is important */
		border-bottom: 12px solid #ddd;
		border-left: 12px solid #ddd;
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);  /* Order of these is important */
		border-bottom: 12px solid #ddd;
		border-left: 12px solid #ddd;
	}
}

#time-range-container {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 100%;
	height: 80px;
	z-index: 2147483647;
	transform: translateX(-50%);
	background-color: #333;
}

#time-range {
	position: relative;
	top: 50%;
	width: 90% !important;
	margin: auto;
	transform: translateY(-50%);
	-webkit-appearance: none;  /* Allows custom styling */
}

/* Custom styling for PS4 */
input[type=range] {
	-webkit-appearance: none;
	margin: 18px 0;
	width: 100%;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animate: 0.2s;
	-webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #367ebd;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #2a6495;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
	background: #3071a9;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
	background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
	background: #367ebd;
}

/*
 * Media queries
 */

@media only screen and (max-width: 576px) {
	.btn-watchlist {
		min-width: 75%;
		padding: 0.65rem 1rem;
	}
}

@media only screen and (max-width: 769px) {
	.fluid-modal-header {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .fluid-modal-title {
    order: 2;
  }

  .fluid-modal-header > button {
    order: 1;
    margin-left: auto;
  }
}

@media only screen and (max-height: 899px) {
	#collections-menu-container {
		max-height: 350px;
		overflow-y: auto;
	}
}
